.App {
  text-align: center;
  height: 100vh;
  background-color: rgb(172, 209, 240);
}

.containter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.containter-List {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10%;
}

.delete-btn {
  color: rgb(68, 67, 67);
  padding: 10px;
  background-color: rgb(245, 137, 137);
  border-radius: 8px;
  margin: 0.5%;
}

.delete-btn:hover {
  color: whitesmoke;
  padding: 10px;
  background-color: red;
  border-radius: 8px;
  margin: 0.5%;
}

.watch-btn {
  color: rgb(68, 67, 67);
  padding: 10px;
  background-color: rgb(202, 229, 160);
  border-radius: 8px;
  margin: 0.5%;
}

.watch-btn:hover {
  color: rgb(68, 67, 67);
  padding: 20px;
  background-color: rgb(202, 229, 160);
  border-radius: 8px;
  margin: 0.5%;
}

.counter {
  background-color: rgb(245, 137, 137);
  border-radius: 50%;
  width: 10px;
}

.search-bar {
  margin: 20px;
  border-radius: 5px;
  border-color: rgb(68, 67, 67);
  width: 250px;
  padding: 8px;
}

.nav-bar {
  background-color: rgb(105, 141, 247);
}

.title {
  color: white;
  background-color: rgb(105, 141, 247);
  margin: 0;
}

.add-input {
  width: 50%;
  border-radius: 5px;
  padding: 10px;
  margin: 20px;
}

.button-color {
}
